* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #096D93;
    height: 100px;
}

h1 {
    font-family: 'Nosifer', cursive;
    color: white;
    text-align: center;
}

#img_lachainemeteo {
    width: 80px;
}

nav {
    height: 50%;
    background-color: #0e4259;
}

#first_nav ul li {
    display: inline-block;
    width: 20%;
    margin: 2%;
}

ul li img {
    width: 25px;
    height: 25px;
}

ul li img:hover {
    background-color: rgba(79, 163, 182, 0.5);
}

main {
    background-color: #4FA3B6;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
}

section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#cards_meteo {
    width: 75%;
    float: left;

}

#cards_meteo div {
    width: 47%;
    height: 120px;
    background-color: white;
    box-shadow: 0 2px 21px 0px rgb(14 66 89 / 45%);
    margin-top: 10px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-transform:uppercase;
}



#cards_meteo div p span:nth-child(1){
    color: #30a8f0;
}

#cards_meteo div p span:nth-child(2){
    color: #ff0202;
}


#cards_meteo img{
    width: 55px;
    height: 55px;
}

#nav_secondaire {
    height: 500px;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 21px 0px rgb(14 66 89 / 45%);
}

#nav_secondaire ul li img {
    width: 25px;
    height: 25px;
}

#nav_secondaire ul li {
    margin-top: 5%;
}

#nav_secondaire ul:hover {
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(79, 163, 182, 0.5);
}

#galerie-images{
width: 50%;
}

#galerie-images div{
    width: 25%;
    height: 100px;
}